// Load CSS Reset from NPM
// CSS resets "normalize" how browser styles are applied.
// Try uncommenting this and saving. What changes in the browser?
@import "~normalize.css";

// An example of a partial.
// Check out the _typography.scss file to edit the CSS inside!
@import "typography";
@import "layout";

// You can still write styles in this file too.
// Here's an example of how you could write media queries more easily with Sass.

$large-phone: 375px;
$tablet-vertical: 768px;
$desktop: 1024px;

// And some color variables.
// Look how much easier it is to keep track of what these are than hex codes!

$red:#802d2b;
$yellow:#ccb34f;
$blue: #081b67;
$grey: #707070;

.read-more-button {
	border: none;
	color: $red;
	font-style: "roboto", sans-serif;
	font-size: 15px;
}

.view-photos-button {
	border: none;
	color: $grey;
	font-style: 'roboto', sans-serif;
	font-size: 15px;
}

#google_map {
	height: 70vh;
}

@media only screen and (min-width: 376px) {
	#google_map {
		height: 75vh;
	}
}

@media only screen and (min-width: 769px) {
	#google_map {
		height: 80vh;
	}
}

.logo-color {
	background-color: #ccb34f;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.browse-btn-text {
	background: #081b67;
	padding: 17px;
}

.browse-btn-text:hover {
	background: #114594;
}

.browse-btn-icon {
	background-color: #802d2b;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 30px;
	padding-right: 30px;
	border-top-right-radius: 3.125rem;
	border-bottom-right-radius: 3.125rem;
	margin-left: -3px;
}

.back-btn {
	border: solid;
	border-radius: 50%;
	border-color: $red;
	background-color: $red;
	color: #ffff;
	font-size: 2.25em;
	position: absolute;
	left: 2px;
	top: 5px;
	width: 50px;
	transition: all 0.2s ease-in-out;
}

.back-btn-icon:hover {
	transform: scale(1.1);
}

//detail page

#restaurant-detail {
	text-align: center;
}

@media screen and (min-width: $tablet-vertical) {
	#restaurant-detail h3 {
		font-size: 16px;
	}
}

@media screen and (min-width: $desktop) {
	#restaurant-detail h3 {
		font-size: 24px;
	}
}

@media screen and (min-width: $desktop) {
	#restaurant-detail p {
		font-size: 16px;
	}
}

.close-detail-button {
	border: solid;
	border-radius: 50%;
	border-color: $red;
	background-color: $red;
	color: #ffff;
	font-size: 2.25em;
	position: absolute;
	left: 2px;
	top: 5px;
	width: 50px;
}

@media screen and (min-width: $desktop) {
	.close-detail-button {
		transition: all 0.2s ease-in-out;
	}
}

@media screen and (min-width: $desktop) {
	.close-detail-button:hover {
		transform: scale(1.1);
	}
}

.detail-container {
	text-align: center;
}

.restaurant-name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background-color: $blue;
	color: #ffff;
	font-size: 4em;
	padding: 20px;
	padding-left: 100%;
	padding-right: 100%;
	opacity: 75%;
	overflow: hidden;
	white-space: nowrap;
}

.image-name-wrapper-detail {
	position: relative;
	overflow: hidden;
	height: 500px;
	width: auto;
}

@media screen and (min-width: $tablet-vertical) {
	.image-name-wrapper-detail {
		min-height: 600px;
		height: auto;
		top: -30px;
	}
}

#detail_image {
	opacity: 100%;
	max-height: 100%;
	margin: auto;
	transform: translateX(-50%);
	position: absolute;
}

@media screen and (min-width: $tablet-vertical) {
	#detail_image {
		max-height: 150%;
	}
}

@media screen and (min-width: $desktop) {
	#detail_image {
		max-height: 200%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (min-width: $tablet-vertical) {
	.detail-phone-box-intro-wrapper {
		padding: 10px;
	}
}

@media screen and (min-width: $desktop) {
	.detail-phone-box-intro-wrapper {
		padding-right: 5%;
	}
}

@media screen and (min-width: 1200px) {
	.detail-phone-box-intro-wrapper {
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media screen and (min-width: $tablet-vertical) {
	.detail-phone-box-wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		float: right;
		margin: 10px;
		flex-grow: 2;
	}
}

.restaurant-detail-box {
	text-align: center;
	margin-bottom: 0;
}

@media screen and (min-width: $tablet-vertical) {
	.restaurant-detail-box {
		text-align: center;
		margin-bottom: 0;
		border: solid;
		border-color: $red;
		border-top-right-radius: 3.125rem;
		border-top-left-radius: 3.125rem;
		border-bottom-right-radius: 3.125rem;
		border-bottom-left-radius: 3.125rem;
		padding: 10px;
		float: right;
		max-width: 200px;
	}
}

.restaurant-detail-box h3 {
	margin: 0;
}

@media screen and (min-width: $tablet-vertical) {
	.restaurant-detail-box h3 {
		display: block;
	}
}

.restaurant-detail-box p {
	margin: 0;
	margin-bottom: 5px;
	display: inline;
}

@media screen and (min-width: $tablet-vertical) {
	.restaurant-detail-box p {
		display: inline;
	}
}

.phone-icon {
	size: inherit;
	vertical-align: middle;
}

.restaurant-detail-phone {
	display: inline;
	font-size: 12px;
	color: #ffff;
}

.restaurant-detail-phone-container {
	margin-top: 5px;
	margin-bottom: 10px;
	border: solid;
	padding: 5px;
	display: inline-block;
	border-color: #802d2b;
	border-top-right-radius: 3.125rem;
	border-top-left-radius: 3.125rem;
	border-bottom-right-radius: 3.125rem;
	border-bottom-left-radius: 3.125rem;
	background-color: $red;
}

.restaurant-detail-intro {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	border-bottom: 1px solid rgba(112, 112, 112, 0.5);
	border-top: 1px solid rgba(112, 112, 112, 0.5);
	max-width: 75%;
}

@media screen and (min-width: $tablet-vertical) {
	.restaurant-detail-intro {
		margin-left: 15px;
		max-width: 60%;
	}
}

@media screen and (min-width: $tablet-vertical) {
	.intro-title {
		text-align: left;
	}
}

@media screen and (min-width: $tablet-vertical) {
	.pictures-title {
		float: left;
		margin-left: 15px;
	}
}

@media screen and (min-width: $tablet-vertical) {
	.popular-dishes-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		float: left;
		margin-left: 15px;
	}
}

@media screen and (min-width: $desktop) {
	.popular-dishes-container {
		padding-right: 5%;
	}
}

@media screen and (min-width: 1200px) {
	.popular-dishes-container {
		padding-right: 10%;
		padding-left: 10%;
	}
}

.picture-container {
	margin: 10px auto;
	width: 200px;
	height: 200px;
	background-color: #fff;
	display: grid;
	grid-template-columns: 100px 100px;
	grid-row: auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	// photo grid from https://codepen.io/MattWindle/pen/perZRG
}

@media screen and (min-width: $tablet-vertical) {
	.picture-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: baseline;
		float: left;
		margin-left: 15px;
	}
}

.detail-page-pic {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: $tablet-vertical) {
	.detail-page-pic {
		max-width: 50%;
		max-height: 50%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (min-width: $desktop) {
	.detail-page-pic {
		max-width: 75%;
		max-height: 75%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
